
.jazz {
  position: relative;
  display: inline-block;
}
.jazz:before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid #eee;
}
.jazz:hover:before {
  border-width: 1px;
  -webkit-transition: border-width 0.25s;
  transition: border-width 0.25s;
  -webkit-border-image: -webkit-linear-gradient(315deg, #A0038B, #FD0000, #FDFD00);
       -o-border-image: linear-gradient(135deg, #A0038B, #FD0000, #FDFD00);
          border-image: linear-gradient(135deg, #A0038B, #FD0000, #FDFD00);
  border-image-slice: 1;
  pointer-events: none;
  -webkit-filter: hue-rotate(0deg);
          filter: hue-rotate(0deg);
  -webkit-animation: 0.5s linear 0s infinite normal both paused hueShift;
          animation: 0.5s linear 0s infinite normal both paused hueShift;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

@-webkit-keyframes hueShift {
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes hueShift {
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}
